@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-grey: #868686;
  --dark-grey: #1e1e1e;
  --moss-green: #7AC22D;
  --lime-green: #C2FF6D;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --font-instrument-sans: "Instrument Sans", sans-serif;
    --rotate-clockwise: rotate-clockwise 0.3s ease-in-out forwards;
    --rotate-counter-clockwise: rotate-counter-clockwise 0.3s ease-in-out forwards;

  }
}

@keyframes rotate-clockwise {
  from {
    transform: none
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotate-counter-clockwise {
  from {
    transform: none
  }
  to {
    transform: rotate(-180deg);
  }
}